.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Более компактный размер */
  gap: 20px;
  padding: 40px;
  justify-content: center;
}

.project-frame {
  border-radius: 12px;
  border: 2px solid #ccc;
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column; /* Вернул вертикальное расположение */
  align-items: center;
  transition: background-color 0.3s;
}

.project-frame:hover {
  background-color: rgba(128, 0, 128, 0.2);
}

.project-preview {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-bottom: 10px;
}

.project-info {
  text-align: left;
  width: 100%;
  color: #666;
}

.project-info .title {
  font-size: 20px;
  font-weight: bold;
}

.date {
  font-size: 14px;
  color: #888;
  text-align: right;
  margin-bottom: 5px;
}

.load-button {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  font-weight: bold;
  background-color: #a070ff;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.load-button:hover {
  background-color: #8a2be2;
}
